/* 애니메이션 효과 */
.review-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .review-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .review-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .review-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  }
  